---
interface Props {
  es: string
  en: string
  class?: string
}

const { es, en, class: className } = Astro.props
---

<span class={className} data-translation>
  <span data-lang="es">{es}</span>
  <span data-lang="en" hidden>{en}</span>
</span>
